html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 37px;
}

.soa-top-margin {
    margin-top: 70px;
}

.soa-hidden, .soa-template {
    display: none;
}

.soa-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 37px;
    padding-top: 5px;
    background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image:      -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
    background-image:         linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image:      -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
    background-image:         linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

.panel-heading span {
    font-weight: bold;
}

.soa-progress {
    width: 120px;
    height: 1em;
}

.soa-progress-bar {
    width: 120px;
}

#soa-progress-container {
    position: absolute;
    top: 6px;
    left: 100%;
    margin-left: -200px;
    z-index: 9999;
}

#soa-login {
    position: absolute;
    top: 22px;
    left: 100%;
    margin-left: -250px;
    z-index: 9999;
}

#soa-login button {
    margin-left: 3px;
}