.soa-stoplight-red-on, .soa-stoplight-green-on {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.soa-service-healthy {
    color: #FF3333;
}

.soa-stoplight-red-on {
    background: #FF3333;
    box-shadow: 0 0 8px #441111 inset, 0 0 4px #FF3333;
}

.soa-stoplight-green-on {
    background: #00FF00;
    box-shadow: 0 0 8px #001100 inset, 0 0 4px #00CC00;
}

.soa-service-forced {
    color: #00008b;
}

.soa-instance-data {
    font-weight: bold;
}

.soa-service-body-toggle {
    cursor: pointer;
    font-weight: normal !important;
}

.soa-instance-stoplight {
    margin-right: 8px;
}

#soa-service-logs-output {
    margin-top: 8px;
}

#soa-service-logs select {
    height: 10em;
}

.soa-instance-details {
    margin-left: 16px;
}