.soa-stoplight-red-on, .soa-stoplight-yellow-on, .soa-stoplight-green-on, .soa-stoplight-red-off, .soa-stoplight-yellow-off, .soa-stoplight-green-off {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.soa-stoplight-red-on {
    background: #FF3333;
    box-shadow: 0 0 8px #882222 inset, 0 0 4px #FF3333;
}

.soa-stoplight-red-off {
    background: #660000;
}

.soa-stoplight-green-on {
    background: #00FF00;
    box-shadow: 0 0 8px #001100 inset, 0 0 4px #00CC00;
}

.soa-stoplight-green-off {
    background: #004400;
}

.soa-instance-data {
    margin-left: 8px;
    font-weight: bold;
}

.soa-instance-details {
    margin-left: 16px;
}