.soa-stoplight-red-on, .soa-stoplight-green-on {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.soa-stoplight-red-on {
    background: #FF3333;
    box-shadow: 0 0 8px #441111 inset, 0 0 4px #FF3333;
}

.soa-stoplight-green-on {
    background: #00FF00;
    box-shadow: 0 0 8px #001100 inset, 0 0 4px #00CC00;
}

.soa-instance-data {
    margin-left: 8px;
    font-weight: bold;
}

.soa-instance-details {
    margin-left: 16px;
}

.soa-service-body-toggle, .soa-service-instance-details {
    cursor: pointer;
    font-weight: normal !important;
}